.patientInformation {
    background-color: var(--grey-0);
    min-height: calc(100vh - 6rem);
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.patientInformation > div {
    width: 100%;
}
.patientInformation.unselected {
    background-color: var(--grey-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
}
.patientInformation:not(.unselected) {
    text-align: center;
}
.patientInformation h3 {
    margin: 0 0 2rem 0;
}
.dataLabels {
    margin: 0;
    padding: 0;
    list-style: none;
    place-self: start;
    text-align: start;
    column-count: 3;
    overflow-wrap: anywhere;
}
.title {
    color: lightslategrey;
}
.dataLabels li {
    margin-bottom: 1rem;
}
.patientInformation a {
    text-decoration: none;
    place-self: end;
}
.button {
    background-color: var(--primary-color);
    color: whitesmoke;
    width: fit-content;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
}
.dataHabits {
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
    list-style: none;
    place-self: start;
    text-align: start;
    columns: 2;
}
.data-habits li {
    overflow: auto;
}
@media (max-width: 480px) {
    .patientInformation {
        min-height: calc(50vh - 1rem);
    }
    .dataLabels {
        column-count: 2;
    }
    .dataHabits {
        column-count: 1;
    }
}
