.progressBar {
    background-color: var(--grey-2);
    width: 60%;
    max-width: 100%;
    min-width: 240px;
    height: 2rem;
    border-radius: 120px;
    overflow: hidden;
    margin: 0 0 0.75rem 0;
    position: relative;
}
.progress {
    background-color: var(--primary-color);
    height: 100%;
    text-align: center;
}
.text {
    color: var(--grey-0);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    margin: 0;
    padding: 0;
}
.barIcon {
    height: 100%;
    aspect-ratio: 1;
    padding: 0.2rem;
    margin-left: 0.3rem;
    position: absolute;
    filter: invert();
}
