.card {
    background-color: white;
    height: fit-content;
    border-radius: 0.5rem;
    overflow: hidden;
    width: calc(50% - 0.5rem);
}
@media (max-width: 480px) {
    .card {
        min-width: 100%;
    }
}
